---
interface Props {
	title?: string;
}

const { title = "Blog Personal" } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Blog personal sobre programaci贸n y electr贸nica" />
		<link rel="icon" href="/public/windows-7-icon-32111.png" />
		<title>{title}</title>
		<meta
			content="Blog personal sobre programaci贸n y electr贸nica"
		/>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	@import "../styles/global.css";
</style>
